/* ========== Шрифты ========== */

/* Galano Grotesque - Light */
@mixin primalFontLight {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: 200;
    font-style: normal;
}

/* Galano Grotesque - REGULAR */
@mixin primalFontRegular {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* Galano Grotesque - MEDUIM */
@mixin primalFontMedium {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: 500;
}

/* Galano Grotesque - SEMI BOLD */
@mixin primalFontSemiBold {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: 600;
}
/* Galano Grotesque - BOLD */
@mixin primalFontBold {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: 700;
}

/* INTER - BOLD */

@mixin InterFontBold {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* КНОПКИ Galano Grotesque - MEDUIM */
@mixin primalFontMediumBtn {
    font-family: 'GalanoGrotesque', sans-serif;
    font-weight: 500;
    font-size: 18px;
}