/* Цвета */

// Цвета текста
$primalColor: #131D3B;
$primalSecondColor: #F2F3F5; 

// Цвета фона
$primalBGColor: #F2F3F5;
$primalSecondBGColor: #131D3B;

// Цвета кнопок
$primalBTNcolor: #EC1C24;

//Блок - systems
$systemsCardsBGColor: #F2F3F5;

//Блок - founders
$foundersCardsBGColor: #F2F3F5;


/* Шрифты */

// Основные размеры шрифтов
$primalFontSize: 16px;
$primalFontSizeSMALL: 14px;
$primalFontSizeEXTRASMALL: 12px;
$primalFontSizeEXTRASMALLsecond: 13px;
$primalFontSizeHeader: 42px;
$primalFontSizeHeaderProvide: 32px;
$primalFontSizeParagraph: 24px;

//Блок - provide
$provideHeaderFontSize: 24px;
$provideLinkFontSize: 14px;

//Блок - systems
$systemsHeaderFontSize: 36px;

//Блок - founders
$foundersHeaderFontSize: 42px;
$foundersCardNameFontSize: 32px;
$foundersCardDescriptionFontSize: 18px;
$foudersCardButtonsFontSize: 18px;

//Блок - clients
$clientsHeaderFontSize: 42px;

//Блок - projects
$projectsHeaderFontSize: 18px;
$projectsCardHeaderFontSize: 24px;
$projectsCardSubtitleFontSize: 14px;
$projectsCardViewLinkFontSize: 12px;
