/* Цвета */

// Цвета текста
$primalColor: #131D3B;
$primalSecondColor: #F2F3F5; 

// Цвета фона
$primalBGColor: #F2F3F5;
$primalSecondBGColor: #131D3B;

// Цвета кнопок
$primalBTNcolor: #EC1C24;


/* Шрифты */

// Основные размеры шрифтов
$primalFontSize: 16px;