.clients{
    max-width: 100%;
    color: $primalSecondColor;
    background: $primalSecondBGColor;
    padding-bottom: 87px;
        &-container{
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }

        &-header{
            display: flex;
            justify-content: center;
            &__text{
                @include primalFontSemiBold;
                font-size: $clientsHeaderFontSize;
            }
        }

        &-content{
            padding-top: 36px;
                .clients-slider{
                    display: flex;
                    justify-content: space-between;
                    cursor: grabbing;
                        .clients-card{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-basis: 206px;
                            // margin-left: 10px;
                            height: 230px;
                            background: $primalBGColor;

                            @media screen and (max-width: 992px) {
                                flex-basis: 130px;
                            }

                            @media screen and (max-width: 940px) {
                                flex-basis: 110px;
                            }
                            
                            @media screen and (max-width: 800px) {
                                flex-basis: 100px;
                            }
                            
                            &:nth-child(1n+5){
                                @media screen and (max-width: 768px) {
                                    display: none;
                                }
                            }

                            @media screen and (max-width: 768px) {
                                flex-basis: 24%;
                            }
                            
                            &__img{
                                @media screen and (max-width: 992px) {
                                    max-width: 80%;
                                }
                            }
                        }
                }
        }
}