.clients{
    max-width: 100%;
    color: $primalSecondColor;
    background: $primalSecondBGColor;
    padding-bottom: 87px;
        &-container{
            max-width: 100%;
            display: flex;
            flex-direction: column;
        }

        &-header{
            display: flex;
            justify-content: center;
            &__text{
                @include primalFontSemiBold;
                font-size: $clientsHeaderFontSize;
            }
        }

        &-content{
            padding-top: 36px;
                .clients-slider{
                    display: flex;
                    justify-content: space-between;
                        .clients-card{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-basis: 206px;
                            // margin-left: 10px;
                            height: 230px;
                            background: $primalBGColor;
                        }
                }
        }
}