.connection {
    max-width: 100%;
    padding: 127px 0 127px 0;
    position: relative;

    &-container {
        display: flex;
        justify-content: space-between;
        
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__header {
        @include primalFontSemiBold;
        font-size: $connectionCardHeaderFontSize;
        text-align: center;
        line-height: 65px;
    }

    .request {
        flex-basis: 409px;
        font-size: $connectionFormItemFontSize;
        &__content{
            margin-top: 54px;
                .request__form {
                    display: flex;
                    flex-direction: column;
                    
                }
        }   
        .form-request{
            
            &__item{
                padding: 19px 0 19px 13px;
                border: 1px solid $connectionBorderColor;
                flex-grow: 1;
                @include InterFontRegular;
                font-size: calc($connectionFormItemFontSize * 1.1);
                color: black;
                // transition: all .5s;
                &::placeholder{
                    @include primalFontLight;
                    text-transform: uppercase;
                }
                &:focus{
                    outline: none;
                }
            }

            &__item-wrapper{
                max-width: 100%;
                position: relative;
                display: flex;
                justify-content: flex-start;
                &:not(:last-child){
                    margin-bottom: 30px;
                }
            }
            
            &__select{
                appearance: none;
                background: url('../images/connection/selector-vector.svg') no-repeat center right 30px;        
                text-transform: uppercase;
                color: rgb(137, 133, 133);
                @include primalFontLight;
            }

            &__message{
                min-height: 102px;
                resize: none;
            }

            &__submit{
                padding: 14px 34px;
                background-color: $primalBTNcolor;
                justify-self: flex-start;
                align-self: flex-start;
                color: $primalSecondColor;
                text-transform: none;
                line-height: 30px;
                // @include InterFontBold;
                font-size: $connectionFormSubmitFontSize;
                cursor: pointer;
            }
            
        }
    }

    .promises {
        flex-basis: 539px;
        
        @media screen and (max-width: 992px) {
            margin-top: 100px;
        }
            .accordion-promises{
                margin-top: 54px;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                
                .item-accordion{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    cursor: pointer;

                    &::before{
                        content: '';
                        width: 33px;
                        height: 33px;
                        background: url('../images/connection/plus-accordion.svg') no-repeat;                     right: 0;
                        background-position: center center;
                        right: 27px;
                        top: 23px;
                        position: absolute;
                    }

                    &:not(:first-child){
                        margin-top: 32px;
                    }
                    
                    padding: 30px 24px 30px 24px;
                    border: 1px solid $connectionBorderColor;
                    
                    &__header{
                        @include primalFontSemiBold;
                        font-size: $connectionPromisesHeaderFontSize;
                            &::selection{
                                user-select: none;
                            }
                    }

                    &__content{
                        max-height: 0;
                        overflow: hidden;
                        cursor: auto;
                        transition: 0.4s;
                        
                    }
                    &__text{
                        margin-top: 23px;
                        max-width: 486px;
                        line-height: 25px;
                        display: block;
                        @media screen and (max-width: 820px) {
                            max-width: 100%;
                            // padding: 20px;
                        }
                    }

                }
            }
    }
}

// Стили ошибок формы

.error{
    position: absolute;
    bottom: -18px;
    left: 5px;
    color: red;
    @include primalFontLight;
}

.request__validation{
    position: absolute;
}

.success{
    border: 1px solid green !important;
}
.failure{
    border: 1px solid red !important;
}

// Стили модально окна при отправке формы
.connection__modalWindow{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
    width: 40%;
    height: 250px;
    font-size: calc($primalFontSize * 1.8);
    line-height: normal;
    padding: 20px;
    background: $primalSecondColor;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow-y: hidden;
    @media screen and (max-width: 1040px) {
        font-size: calc($primalFontSize * 1.3);
        padding: 10px;
    }

    @media screen and (max-width: 970px) {
        width: 70%;
        font-size: calc($primalFontSize * 1.5);
    }
}

.modalWindowBlackout{
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(182, 181, 180, 0.7);
        z-index: 9998;
    }
}

.connection__modalWindowBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: calc($primalFontSize * 2.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

// Стили состояний аккордиона

.accordion-active{
    &::before{
        content: none!important;
    }

    &::after{
        content: '';
        width: 33px;
        height: 33px;
        background: url('../images/connection/minus-accordion.svg') no-repeat;                     right: 0;
        background-position: center center;
        right: 27px;
        top: 23px;
        transform: translateY(0%);
        position: absolute;       
    }
}
.accordion-active .item-accordion__content{
    max-height: 500px !important;
}