@font-face {
    font-family: 'GalanoGrotesque';
    src:
        url('../fonts/Galano Grotesque/GalanoGrotesque-Black.woff2') format('woff2'),
        url('../fonts/Galano Grotesque/GalanoGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}