.footer {
    max-width: 100%;
    padding-top: 85px;
    padding-bottom: 72px;
    background: $primalSecondBGColor;
    color: $primalSecondColor;

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &-left {
        display: flex;
        flex-direction: column;

        &__address {
            margin-top: 39px;
            max-width: 300px;    
        }

        .footer-address{
            &__text{
                @include primalFontRegular;
                font-style: normal;
                line-height: 32px;
            }
        }

        &__contacts{
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            max-width: 250px;
            font-size: $primalFontSizeSMALL;
                &>a:hover{
                    border-bottom: 1px solid $primalBTNcolor;
                    padding-bottom: 5px;
                }
        }

    }



    &-right {
        padding-top: 41px;
        margin-left: 199px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 300px;
        justify-content: space-between;

        &__item {
            display: flex;
            flex-direction: column;
        }

        .footer-links {
            flex-basis: 25%;
            font-size: $primalFontSizeEXTRASMALL;
            line-height: 30px;
            flex-grow: 1;
            display: flex;
            align-items: flex-start;
            @include primalFontLight;
                &__btn{
                    margin-top: 26px;
                    @include primalFontMedium;
                    font-size: $primalFontSizeEXTRASMALLsecond;
                    padding: 10.5px 22px;
                    background-color: $primalBTNcolor;
                }
        }

        .footer-contacts {
            flex-basis: 25%;
            font-size: $primalFontSizeEXTRASMALL;
            line-height: 30px;
            @include primalFontLight;
        }
    }

    &-date {
        display: flex;
        flex-basis: 100%;
        margin-left: 50%;
        @include primalFontLight;
        font-size: $primalFontSizeEXTRASMALL;
    }
}