.founders{
    max-width: 100%;
    color: $primalSecondColor;
    background: $primalSecondBGColor;
    padding: 50px 0 98px 0;
        &-container{
            
        }

        .founders-header{
            display: flex;
            justify-content: center;
            &__item{
                @include primalFontSemiBold;
                font-size: $foundersHeaderFontSize;
                line-height: 65px;
            }
        }

        .founders-people{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                
            }
                &__card{
                    margin-top: 55px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-basis: 434px;
                    background: $foundersCardsBGColor;
                    color: $primalColor;
                    position: relative;
                    padding-bottom: 46px;
                    @media screen and (max-width: 992px) {
                        padding: 46px 20px;
                        margin-top: 170px;
                    }
                }
                .founders-card{
                        &__img{
                            position: absolute;
                            top: -30%;
                            transform: translateY(30%);
                            max-width: 221px;
                                &>img{
                                    width: 100%;
                                }
                        }
                        &__content{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .content-founders{
                            &__header{
                                @include primalFontSemiBold;
                                font-size: $foundersCardNameFontSize;
                                line-height: 38px;
                                margin-top: 189px;
                            }

                            &__description{
                                font-size: $foundersCardDescriptionFontSize;
                                line-height: 21px;
                                margin-top: 24px;
                            }
                        }
                        
                        &__buttons{
                            margin-top: 98px;
                            display: flex;
                            flex-direction: column;
                            max-width: 100%;
                            
                            
                        }
                        
                        .buttons-founders{
                            &__link{
                                padding: 16.5px 48px;
                                line-height: 28px;
                                flex-basis: 100%;
                                @include InterFontBold;
                                font-size: $foudersCardButtonsFontSize;
                            }

                            &__contact{
                                position: relative;
                                border: 1px solid $primalBTNcolor;
                                color: $primalColor;
                                    &::after{
                                        position: absolute;
                                        top: 50%;
                                        right: 48px;
                                        transform: translateY(-40%);
                                        content: '';
                                        background: url('../images/founders/founder-buttons\ contact.svg') no-repeat;
                                        width: 32px;
                                        height: 32px;
                                        
                                    }
                            }

                            &__projects{
                                margin-top: 10px;
                                background: $primalBTNcolor;
                                color: $primalSecondColor;
                            }
                        }
                }
        }
}