.header {
    max-width: 100%;
    padding-top: 33px;
    padding-bottom: 28px;
    &-container {
        max-width: 1150px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .logo-header {
        display: flex;
        align-items: center;
        flex-basis: 257px;
    }

    .nav-header {
        flex-basis: 409px;
        display: flex;
        &__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-basis: 100%;
            color: $primalColor;
            @include primalFontMedium;
        }

        .nav-list__item:hover{
            color: #EC1C24;
        }
    }

    .btn-header{
        flex-basis: 167px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primalSecondColor;
        background-color: $primalBTNcolor;
        @include primalFontMediumBtn;

    }
}