// Подключение стилей
@import 'var';
@import 'mixins';
@import 'grid';
@import 'normalize.css';
@import 'fonts';
@import 'header';
@import 'promo';
@import 'provide';
@import 'systems';
@import 'founders';
@import 'clients';
@import 'projects';
@import 'connection';
@import 'footer';



// Дополнительное обнуление стилей
*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:active {
    color: inherit;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
}

/* ========== ОБЩИЕ СТИЛИ ========== */
body {
    @include primalFontRegular;
    font-size: $primalFontSize;
    color: $primalColor;
}

.navigation {
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: 100vh;
    background-color: rgba(207, 0, 0, 0.5);
    color: white;
    right: -200px;
    width: 250px;
    transition: right 0.3s ease;
    display: none;

    @media screen and (max-width: 991px){
        display: flex;
    }



    .nav-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        border: 0;
        background: #000;
        cursor: pointer;

        &__item {
            position: absolute;
            right: 50%;
            transform: translate(50%, 50%);
            top: 50%;
            width: 30px;
            height: 2px;
            background: #fff;

            &::before {
                content: '';
                position: absolute;
                top: 10px;
                display: block;
                width: 30px;
                height: 2px;
                background-color: white;
                transition: all 0.3s;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 10px;
                display: block;
                width: 30px;
                height: 2px;
                background-color: white;
                transition: all 0.3s;
            }
            
        }

    }

    &__list {
        margin-top: 100px;
    }

    .list-nav {
        &__item {
            font-size: 30px;
            text-transform: uppercase;
                &:not(:first-child){
                    margin-top: 20px;
                }

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    .nav-btn__active{
        background-color: rgba(0, 0, 0, 0);
        &:before{
            top: 0;
            transform: rotate(45deg);
        }
    
        &:after{
            bottom: 0;
            transform: rotate(-45deg);
        }
    }

    &-active {
        right: 0;
    }
}

