.projects {
    max-width: 100%;

    &-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-explore {
        padding: 52px 0 52px 150px;

        &__header {
            @include primalFontSemiBold;
            font-size: $projectsHeaderFontSize;
        }
    }

    &-cards {
        display: flex;
        justify-content: space-between;
        color: $primalSecondColor;

        &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-basis: 25%;
            padding: 32px 24px 21px 49px;
            height: 465px;
            z-index: 0;

            // @include primalFontLight;
            &::after {
                position: absolute;
                content: '';
                background: rgba(11, 18, 40, .75);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                transition: all 0.5s;
            }

            &:hover::after {
                opacity: 0.2;
                // transition: 0.5s;
            }

        }

        .card-projects {
            &__info-wrap {
                display: flex;
                flex-direction: column;
            }

            &__header {
                @include primalFontSemiBold;
                font-size: $projectsCardHeaderFontSize;
                line-height: 37px;
            }

            &__subtitle {
                line-height: 22px;
                margin-top: 4px;
                font-size: $projectsCardSubtitleFontSize;
            }

            &__hr {
                margin-top: 8px;
                max-width: 287px;
            }

            &__description {
                margin-top: 16px;
                @include primalFontSemiBold;
            }

            &__view-wrap {
                display: flex;
                justify-content: flex-end;
            }

            &__view-link {
                font-size: $projectsCardViewLinkFontSize;
                @include primalFontSemiBold;
                text-transform: uppercase;
                
                &:hover {
                    color: $primalBTNcolor;
                }

            }
        }

        .projects-security {
            background: url('../images/projects/security.png') no-repeat;
            background-size: cover;
        }

        .projects-mubadala {
            background: url('../images/projects/mubadala.png') no-repeat;
            background-size: cover;
        }

        .projects-doha {
            background: url('../images/projects/doha.png') no-repeat;
            background-size: cover;
        }

        .projects-ministry {
            background: url('../images/projects/ministry.png') no-repeat;
            background-size: cover;
        }

    }
}