.promo {
    position: relative;
    max-width: 100%;
    color: $primalSecondColor;
    background: url('../images/promo/bg-image.png') no-repeat center;
    background-size: cover;
    padding-bottom: 149px;
    
    


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(19, 29, 59, 0.5);
        z-index: 1;
    }

    & * {
        z-index: 2;
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    }

    &__header {
        margin-top: 166px;
        position: relative;
        text-align: center;
        @include primalFontBold;
        font-size: 52px;
        max-width: 600px;
        line-height: 81px;
        user-select: none;

        @media screen and (max-width: 672px) {
            max-width: 300px;
            font-size: 30px;
        }

        @media screen and (max-width: 400px) {
            max-width: 200px;
            
        }

        @media screen and (max-width: 295px) {
            font-size: 25px;
            
        }


            &::before{
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                background: url('../images/promo/triangle-left.svg') no-repeat center;
                width: 44px;
                height: 46px;

                @media screen and (max-width: 672px) {
                    left: -20px;
                }

                @media screen and (max-width: 295px) {
                    background-size: 70%;
                    
                }
            }

            &::after{
                position: absolute;
                right: 0;
                bottom: 0;
                content: '';
                background: url('../images/promo/triangle-right.svg') no-repeat center;
                width: 44px;
                height: 46px;

                @media screen and (max-width: 672px) {
                    right: -20px;
                }

                @media screen and (max-width: 295px) {
                    background-size: 70%;
                    
                }
            }
    }

    &__btn{
        margin-top: 80px;
        background: $primalBTNcolor;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 167px;
        height: 57px;
        @include InterFontBold;
        font-size: 18px;
    }

}

// .promoModalWindow{
//     position: absolute;
//     top: 10%;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 999;
//     width: 600px;
//     height: 300px;
//     background: white;
//     &__active{
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         background: gray;
//         z-index: 10000;
//     }
// }