.provide{
    max-width: 100%;
    padding-top: 116px;
    padding-bottom: 81px;
        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        
        &-header{
            &__item{
                @include primalFontSemiBold;
                font-size: $primalFontSizeHeader;
                color: $primalColor;
            }
        }

        &-slider{
            margin-top: 35px;
            max-width: 896px;
            overflow: hidden;
            @media screen and (max-width: 1150px) {
                max-width: 750px;
            }

            @media screen and (max-width: 1020px) {
                max-width: 720px;
            }

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }
            &__line{
                display: flex;
                width: 0;
                position: relative;
                left: 0;
                transition: all 0.3s;
            }
            .slider-provide{
                position: relative;
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                width: 896px;
    
                &__description{
                    font-size: $primalFontSizeParagraph;
                    color: $primalSecondColor;
                    background: $primalSecondBGColor;
                    flex-basis: 591px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 57px 54px;
                    line-height: 40px;

                    @media screen and (max-width: 1150px) {
                        flex-basis: 500px;
                    }

                    @media screen and (max-width: 1150px) {
                        font-size: 15px;
                    }

                    @media screen and (max-width: 900px) {
                        font-size: 24px;
                        max-width: 80%;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                    }

                    @media screen and (max-width: 410px) {
                        font-size: 15px;
                        padding: 0 24px;
                    }

                }

                &__header{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include primalFontMedium;
                    font-size: $primalFontSizeHeaderProvide;
                    color: $primalSecondColor;
                    background: $primalBTNcolor;
                    flex-basis: 286px;
                    
                    @media screen and (max-width: 1150px) {
                        flex-basis: 200px;
                    }

                    @media screen and (max-width: 1150px) {
                        font-size: 25px;
                    }

                    @media screen and (max-width: 900px) {
                        max-width: 80%;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 23px;
                    }
                }

                &__btn{
                    position: absolute;
                    left: 90%;
                    top: 33%;
                    background: transparent;
                    border: 0;
                    border: 1px solid black;
                    border-radius: 50%;
                    width: 38px;
                    height: 38px;
                    cursor: pointer;

                    @media screen and (max-width: 1150px) {
                        left: calc(100% + 40px);
                    }

                    @media screen and (max-width: 900px) {
                        left: 90%;
                    }
                    
                    @media screen and (max-width: 475px) {
                        left: 86%;
                        width: 28px;
                        height: 28px;
                    }

                    

                        &:after{
                            position: absolute;
                            content: '';
                            top: 50%;
                            left: 50%;
                            transform: translateX(-50%) translateY(-50%);
                            width: 17px;
                            height: 17px;
                            background: url('../images/provide/provide-btn.svg') no-repeat;

                            @media screen and (max-width: 475px) {
                               background-size: 80%;
                               background-position: center center;
                            }
                        } 
                }
            }
        }

        &-description{
            padding-top: 96px;
            display: flex;
            max-width: 929px;
            justify-content: space-between;
            
            @media screen and (max-width: 576px) {
                max-width: 100%;
                padding-top: 81px;
                flex-direction: column;  
            }
                &__item{
                    display: flex;
                    flex-basis: 283px;
                    flex-direction: column;

                    @media screen and (max-width: 576px) {
                        flex-basis: auto;
                        &:not(:first-child){
                            margin-top: 70px;
                        }
                        
                    }
                    
                }

                .description-provide{
                    &>*:not(:first-child){
                        margin-top: 24px;
                    }

                    &__header{
                        color: $primalColor;
                        @include primalFontSemiBold;
                        font-size: $provideHeaderFontSize;
                    }

                    &__depiction{
                        color: $primalColor;
                    }

                    &__link{
                        color: $primalBTNcolor;
                        @include primalFontSemiBold;
                        font-size: $provideLinkFontSize;
                        text-transform: uppercase;
                    }
                }   
        }
}