.systems{
    position: relative;
    max-width: 100%;
    padding: 100px 270px;
    background: url("../images/systems/systemsbg.png") no-repeat center;
    background-size: cover;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(19, 29, 59, 0.5);
            z-index: 1;
        }

        & * {
            z-index: 2;
        }

        &-container{
            max-width: 900px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

        &__header{
            color: $primalSecondColor;
            @include primalFontSemiBold;
            font-size: $systemsHeaderFontSize;
            line-height: 56px;
            
            @media screen and (max-width: 940px){
                font-size: 30px;
            }

            @media screen and (max-width: 768px){
                font-size: 29px;
                width: 100%;
                border: 1px solid black;
            }
            
        }

        .cards-systems{
            margin-top: 34px;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            justify-content: space-between;
            @media screen and (max-width: 1400px){
                flex-direction: column;
            }
                &__header{
                    @include primalFontSemiBold;
                    color: $primalColor;
                    text-transform: uppercase;
                    line-height: 25px;
                }

                .system-card{
                    padding: 16px 16px;
                    display: flex;
                    background: $systemsCardsBGColor;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    justify-content: space-between;
                    flex-basis: calc(20% - 7.5px);
                    height: 184px;
                    @media screen and (max-width: 1400px){
                        margin-top: 20px;
    
                    }
                    &__img{
                        flex-basis: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                            &>img{
                                width: 100%;
                                object-fit: contain;
                            }
                    }
                    &__header{
                        flex-basis: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
        }
}