.systems{
    position: relative;
    max-width: 100%;
    padding: 100px 270px;
    background: url("../images/systems/systemsbg.png") no-repeat center;
    background-size: cover;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(19, 29, 59, 0.5);
            z-index: 1;
        }

        & * {
            z-index: 2;
        }

        &-container{
            max-width: 900px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }

        &__header{
            color: $primalSecondColor;
            @include primalFontSemiBold;
            font-size: $systemsHeaderFontSize;
            line-height: 56px;
        }

        .cards-systems{
            margin-top: 34px;
            display: flex;
            max-width: 100%;
            justify-content: space-between;
                &__item{
                    flex-basis: calc(20% - 7.5px);
                    background: $systemsCardsBGColor;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    padding: 31px 16px;
                        &>img{
                            width: 47px;
                        }
                }

                &__header{
                    margin-top: 24px;
                    @include primalFontSemiBold;
                    color: $primalColor;
                    text-transform: uppercase;
                    line-height: 25px;
                }
        }
}