.to-top{
    bottom: 198px;
    right: 5%;
    z-index: 999;
    position: fixed;
    border: 0;
    background: $toTopBtnColor;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    animation: toTopAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    cursor: pointer;
        &::after{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '';
            background: url('../images/to-top/arrow-btn.svg') no-repeat;
            background-position: center;
            width: 24px;
            height: 24px;
        }
}

@keyframes toTopAnimation{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}