section.connection 
    .container.connection-container
        .connection__column.request
            h3.connection__header Request A Quote
            .request__content
                form.request__form.form-request(action="#")
                    input.form-request__item(type="text" placeholder="Full name")
                    input.form-request__item(type="text" placeholder="Mobile")
                    input.form-request__item(type="text" placeholder="Email")
                    select.form-request__item.form-request__select(name="request__select" placeholder="Service")
                        option(value="service") service
                    input.form-request__item.form-request__message(type="text" placeholder="Message")
                    button.form-request__item.form-request__submit Submit
        .connection__column.promises  
            h3.connection__header Our Promises
            .promises__accordion.accordion-promises
                .accordion-promises__item.item-accordion
                    span.item-accordion__header Safety
                    p.item-accordion__text
                        Projex-Tec Co. is dedicated to satisfying our customers by providing quality products & services on time & striving towards continual improvement. Our Management is committed to providing Supply, Installation, Testing, and Commissioning of Electromechanical works to its clients for various projects and has established Quality Assurance / Quality Control Programs in a manner that strives to comply with ISO 9001:2008. Projex-Tec Co. achieves the highest quality standards throughout the performance of its activities in meeting all the specifications and procedures of customer satisfaction and projects are executed in a manner that emphasizes safety, quality, and maximum cost-effectiveness. The ultimate objective of our company is to comply fully or surpass the quality standards established by the International Organization for Standardization. We believe that the team, not individuals, are the essential unit of this organization for achieving high performance.
                .accordion-promises__item.item-accordion
                    span.item-accordion__header Quality
                    p.item-accordion__text
                        Projex-Tec Co. is dedicated to satisfying our customers by providing quality products & services on time & striving towards continual improvement. Our Management is committed to providing Supply, Installation, Testing, and Commissioning of Electromechanical works to its clients for various projects and has established Quality Assurance / Quality Control Programs in a manner that strives to comply with ISO 9001:2008. Projex-Tec Co. achieves the highest quality standards throughout the performance of its activities in meeting all the specifications and procedures of customer satisfaction and projects are executed in a manner that emphasizes safety, quality, and maximum cost-effectiveness. The ultimate objective of our company is to comply fully or surpass the quality standards established by the International Organization for Standardization. We believe that the team, not individuals, are the essential unit of this organization for achieving high performance.
