footer.footer 
    .container.footer-container
        .footer__column.footer-left
            .footer-left__logo.footer-logo
                img.footer-logo__item(src=require="./images/footer/footer-logo.svg" alt="Logo")
            .footer-left__address.footer-address
                address.footer-address__text Sara Tower, 23 Al Batrawi Street, 3rd Floor, Abbas El-Akkad, Nasr City, Cairo, Egypt
            .footer-left__contacts.footer-contacts
                a.footer-contacts__phone(href="tel:+20222617124") +20222617124  
                a.footer-contacts__mail(href="tel:+20222617124") info@projex-tec.com  

        .footer__column.footer-right 
            .footer-right__item.footer-links 
                a.footer-links__item(href="#" target="_blank") About
                a.footer-links__item(href="#" target="_blank") Services
                a.footer-links__item(href="#" target="_blank") Contacts
                a.footer-links__item.footer-links__btn(href="#" target="_blank") Get A Quote
            .footer-right__item.footer-contacts
                a.footer-contacts__item(href="" target="_blank") Facebook
                a.footer-contacts__item(href="" target="_blank") Twitter
                a.footer-contacts__item(href="" target="_blank") Linkedin
                a.footer-contacts__item(href="" target="_blank") Instagram
        .footer__column.footer-date 
            span.footer-date__item © 2021 Armadillo Design Lab. All rights reserved.
