section.founders 
    .container.founders-container
        .founders__column.founders-header
            h3.founders-header__item Founders  
        .founders__column.founders-people
            .founders-people__card.founders-card
                .founders-card__img.image-founders
                    img.image.founders__item(src=require("../images/founders/founders-people img 1.png"), alt="Mr.Ahmed Ismail")
                .founders-card__content.content-founders
                    span.content-founders__header Mr. Ahmed Ismail 
                    span.content-founders__description Operations Manager
                .founder-card__buttons.buttons-founders
                    a.buttons-founders__link(href="#" target="_blank") Contact
                    a.buttons-founders__link(href="#" target="_blank") View Projects    
            .founders-people__card.founders-card
                .founders-card__img.image-founders
                    img.image.founders__item(src=require("../images/founders/founders-people img 2.png"), alt="Mr.Ahmed Ismail")
                .founders-card__content.content-founders
                    span.content-founders__header Mr. Ahmed Ismail 
                    span.content-founders__description Operations Manager
                .founder-card__buttons.buttons-founders
                    a.buttons-founders__link(href="#" target="_blank") Contact
                    a.buttons-founders__link(href="#" target="_blank") View Projects    