header.header
    .container.header-container
        .header__logo.logo-header
            img(src=require("../images/header/logo-header/logo.svg"), alt="Лого Projex")
        nav.header__nav.nav-header
            ul.nav-header__list.nav-list
                li.nav-list__item
                    a.nav-list__link(href="#home") Home
                li.nav-list__item 
                    a.nav-list__link(href="#services") Services
                li.nav-list__item
                    a.nav-list__link(href="#about") About
                li.nav-list__item
                    a.nav-list__link(href="#contact") Contact
        a.header__btn.btn-header(href="#getquote") Get A Quote 