header.header
    .container.header-container
        .header__logo.logo-header
            img(src=require("../images/header/logo-header/logo.svg"), alt="Лого Projex")
        nav.header__nav.nav-header
            ul.nav-header__list.nav-list
                li.nav-list__item Home
                li.nav-list__item Services
                li.nav-list__item About
                li.nav-list__item Contact
        a.header__btn.btn-header(href="#") Get A Quote 