header.header
    .container.header-container
        .header__logo.logo-header
            img(src=require("../images/header/logo-header/logo.svg"), alt="Лого Projex")
        nav.header__nav.nav-header
            ul.nav-header__list.nav-list
                li.nav-list__item
                    a.nav-list__link(href="#" target="_blank") Home
                li.nav-list__item 
                    a.nav-list__link(href="#" target="_blank") Services
                li.nav-list__item
                    a.nav-list__link(href="#" target="_blank") About
                li.nav-list__item
                    a.nav-list__link(href="#" target="_blank") Contact
        a.header__btn.btn-header(href="#") Get A Quote 