section.projects
    .projects-container
        .projects__column.projects-explore
            span.projects-explore__header Explore Our Founders’ Recent Projects  
        .projects__column.projects-cards
            .projects-cards__item.card-projects
                span.card-projects__header Internal Security Forces
                span.card-projects__subtitle Doha, Qatar
                span.card-projects__description Infrastructural Package for Duhail Camp
                a.card-projects__view-link(href="#" target="_blank") view more  
            .projects-cards__item.card-projects
                span.card-projects__header MUBADALA
                span.card-projects__subtitle Abu Dhabi, United Arab Emirates
                span.card-projects__description 80,000 TR District Cooling Plant EPC Project for Al Sowwah Island
                a.card-projects__view-link(href="#" target="_blank") view more  
            .projects-cards__item.card-projects
                span.card-projects__header Doha Port
                span.card-projects__subtitle Doha, Qatar
                span.card-projects__description Contracting for Phase 2 of Hamad Port
                a.card-projects__view-link(href="#" target="_blank") view more
            .projects-cards__item.card-projects
                span.card-projects__header Ministry of Electricity & Renewable Energy
                span.card-projects__subtitle Damietta, Egypt
                span.card-projects__description 2 Power stations, each 1000 MW 8 Turbines simple cycle
                a.card-projects__view-link(href="#" target="_blank") view more  
