section.provide
    .container.provide-container
        .prodive__column.provide-header
            span.provide-header__item Industrial Services 
        .prodive__column.provide-slider
            .provide-slider__line
                .provide-slider__content.slider-provide
                    p.slider-provide__description Projex-Tec has a highly qualified technical team to manage the requirements and performance of design sub-contractors including any specialized services. 
                    p.slider-provide__header Engineering
                .provide-slider__content.slider-provide
                    p.slider-provide__description Projex-Tec has a highly qualified technical team to manage the requirements and performance of design sub-contractors including any specialized services. 
                    p.slider-provide__header Slide 2
                .provide-slider__content.slider-provide
                    p.slider-provide__description Projex-Tec has a highly qualified technical team to manage the requirements and performance of design sub-contractors including any specialized services. 
                    p.slider-provide__header Slide 3
                .provide-slider__content.slider-provide
                    p.slider-provide__description Projex-Tec has a highly qualified technical team to manage the requirements and performance of design sub-contractors including any specialized services. 
                    p.slider-provide__header Slide 4
            button.slider-provide__btn.provide-btn
                span.provide-btn__item 
        .prodive__column.provide-description
            .provide-description__item.description-provide
                p.description-provide__header Mission
                p.description-provide__depiction We strongly believe that success is based on pro-active and dedicated teamwork in a professional and ethical environment that leads to creative solutions and fully deserved rewards.
                a(href="#" target="_blank").description-provide__link view more
            .provide-description__item.description-provide
                p.description-provide__header Vision
                p.description-provide__depiction We aim to be a leading contractor in Egypt by focusing on the timely implementation of our projects, and meeting the expectations & requirements of our customers at the highest possible level.
                a(href="#" target="_blank").description-provide__link view more
            .provide-description__item.description-provide
                p.description-provide__header Culture
                p.description-provide__depiction Our work culture is embodied in several principles and values that guide every Projex-Tec employee in delivering our vision.
                a(href="#" target="_blank").description-provide__link view more 