section.systems
    .container.systems-container
        h3.systems__header
        .systems__cards.cards-systems
            .cards-systems__item
                img(src="", alt="HVAC")
                span.cards-systems__header HVAC Systems
            .cards-systems__item
                img(src="", alt="Plumbing & Drainage Systems")
                span.cards-systems__header Plumbing & Drainage Systems 
            .cards-systems__item 
                img(src="", alt="Fire protection Systems")
                span.cards-systems__header Fire protection Systems
            .cards-systems__item 
                img(src="", alt="Electrical Systems")
                span.cards-systems__header Electrical Systems
            .cards-systems__item    
                img(src="", alt="Infrastructure Systems")
                span.cards-systems__header Infrastructure Systems