doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Projex
    body
        nav.navigation
            button.nav-btn
                span.nav-btn__item 
            ul.navigation__list.list-nav

        
        main 
            //- Подключаем блок header
            include pug/header.pug

            //- Подключаем блок promo
            include pug/promo.pug

            //- Подключаем блок provide
            include pug/provide.pug
            
            //- Подключаем блок systems
            include pug/systems.pug

            //- Подключаем блок founders
            include pug/founders.pug

            //- Подключаем блок clients
            include pug/clients.pug

            //- Подключаем блок clients
            include pug/projects.pug

            //- Подключаем блок clients
            include pug/connection.pug
            
            //- Подключаем блок promo
            include pug/footer.pug

